<!DOCTYPE html>
<html>
<head>
  <title>RubyonrailsOrg</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div class="page-header">
    <h1 style="color:orange;" >!dyllic Articles</h1>      
  </div>
<ul class="nav nav-pills">
<li role="presentation"><%= link_to "sign Up", new_user_registration_path %></li>
<% if user_signed_in? %>
<li role="presentation"><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
<% else %>
<li role="presentation"><%= link_to "sign in", new_user_session_path %></li>
<% end %>
<li role="presentation"><%= link_to 'New article', new_article_path %><li>
<li role="presentation"><%= link_to "home", articles_path %><li>
</ul>

<br>
<%= yield %>

</body>
</html>
